:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;

}


/* SCROLL SNAP */


*,*:before, *:after {
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px; /* 1rem = 10px*/
    margin: 0%;
    border: 0%;
    padding: 0%;
    background-image: linear-gradient(to top, var(--gris) 0%, var(--blanco) 100%);
}

/* CREACION DE BOTON */

.boton,
.boton2 {
    background-color: var(--secundario);
    padding: 1rem 2rem;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 0.5rem;
    color: var(--blanco);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.sombra {
    box-shadow: 0px 0px 16px 0px rgba(61,60,61,0.5);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 10px;
    margin: 4rem;
}

@media (min-width: 480px){
    .boton {
        width: auto;
    }
}

.colorTitulo {
    color: var(--oscuro);
}

.titulo {
    font-size: 3.8rem;
    text-align: center;
}

h1.titulo span {
    font-size: 2rem;
}

/* CREACION DE LA BARRA DE NAVEGACION*/

.nav-bg {
    background-color: var(--secundario);
}

.nav-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:480px) {
    .nav-principal {
        flex-direction: row;
        justify-content: space-around;
    }
}

.nav-principal a {
    padding: 1rem;
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
}

.nav-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro)
}

/* CREACION DE TABLAS*/

.tabla{
    text-align: center;
}

table {
    margin: auto;
}
  
td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 15px 15px 15px 15px;
}

th {
    background-color: rgb(139, 6, 156);
    text-align: center;
    color: var(--blanco);
}

/*CREACION DEL FONDO CON IMAGEN*/

.h2-principal {
    margin-top: 0px;
}

.imagen {
    background-image: url('/img/hero.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    height: 450px;
    position: relative;
}

.imagen-fondo {
    position: absolute;
    background-color: rgba(0,0,0,.6); /* TRANSPARENCIA */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.imagen-fondo h2, .imagen-fondo p {
    color: var(--blanco);
}

.imagen a:hover,
.imagen a:focus {
    background: var(--primario);
    color: var(--oscuro);
    font-weight: 600;
}

/* CREACION DE MIS SERVICIOS */

.sombra h2 {
    text-align: center;
}

@media (min-width: 768px){
    .servicios {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CREACION DEL FORMULARIO */


.formulario {
    background-color: var(--gris);
    width: 60%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
    width: 100%;
}

.formulario legend {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

.campo {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.campo2 {
    margin: 0%;
    font-size: 1.5rem;
}

.campo label {
    display: block;
    font-weight: 700;
    color: var(--blanco);
    margin-bottom: .5rem;
}

.campo textarea {
    height: 100%;
    min-height: 6rem;
    resize: vertical;
}

.input-text1 {
    width: 100%;
    border: none;
    padding: 2rem;
    border-radius: 0.5rem;
}

.input-text2 {
    width: 100%;
    border: none;
    padding: 2rem;
    border-radius: 0.5rem;
}

.boton2:hover,
.boton2:focus {
    background: var(--primario);
    color: var(--oscuro);
    font-weight: 600;
}

@media (min-width: 768px){

    .contenedor-campos {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: auto auto 20rem;
        column-gap: 2%;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }

    .campo2:nth-child(5) {
        grid-column: 2;
        text-align: end;
        margin-bottom: 0%;
    }

    .campo textarea {
        height: 100%;
        resize: none;
    }
}


/** CREACION DEL FOOTER **/


footer {
    margin: 0%;
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

